/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Add CSS styling here */
.container{
    max-width: 100%;
}
.topNav{
    /* display: flex;
    flex-direction: column; */
    background-color: #E7D8B7;
    text-decoration: none;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}
h1{
    font-family: 'Brygada 1918', serif;
}
nav h1{
    width: 100%;
    padding: 1rem;
    font-size: 3rem;
}

nav a{
    background-color: rgb(221, 188, 142);
    color: black;
    padding: 0.8rem;
    margin-left: 2.5rem;
    text-decoration: none;
    width: 10%;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
}

nav a:hover{
    background-color: white;
}
nav .navBar{
    display: flex;
}

.topContent{
    display: flex;
    padding: 2rem 2rem;
}

.topContent .text{
    border: 3px dotted #dad37d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding: 1rem 0;
    margin: 0.5rem 0;
    font-size: 2rem;
    font-family: 'Brygada 1918', serif;
}

button{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.2rem;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 0.35rem;
    width: 50%;
    font-family: 'Brygada 1918', serif;
    padding-bottom: 1rem;
}
.text{
    padding-top: 4rem;
    width:90%;
}


.topContent img{
    width: 50%;
}

.middleContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.middleContent img{
    width: 30%;
    padding: 1rem;
}
footer{
    width: 100%;
    padding: 2rem 0;
    background-color: #E7D8B7;
}

.bottomNav{
    display: flex;
    flex-direction: column;
}
footer p{
    padding: 1rem 0;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media(max-width: 500px){
    .topNav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navBar{
        flex-direction: column;
        background-color: rgb(221, 188, 142);
        padding-right: 1rem;
    }
    .topNav h1{
        display: flex;
        justify-content: center;
    }
    .topContent{
        max-width: 100%;
        flex-direction: column;
    }
   .topContent img{
       width: auto;
   }
   .topContent button{
       padding: 0 5rem;
       letter-spacing: normal;
       text-align: center;
   }
   .text{
       width: auto;
   }
   .text p{
       line-height: normal;
    }
    .topContent .text p{
        display: flex;
        justify-content: flex-start;
    }

    .middleContent{
        width: auto;
    }

   .bottomNav{
       width: auto;
       padding: 0%;
   }
   .bottomNav .contact{
       justify-content: center;
   }
   .bottomNav a{
       margin: 0;
       font-size: 1rem;
        padding: 0.5rem;
   }
   .bottomNav p{
       font-size: 1.2rem;
   }
   footer{
       padding: 0.5rem;
   }
}